
// #map_canvas {
//   width: 300px;
//   height: 300px;
// }

// #chart
// {
//   height: 400px;
// }

// .hide{
//   display: none;
// }


// #interviewchart
// {
//   height: 400px;
// }

// .submitAnswer{
//   height: 25px;
//   width: 65px;
//   padding: 5px;
//   border: 2px solid blue;
//   background-color: pink;
//   margin: 5px;
// }

// .resp{
//   float: left;
// }

@import url(http://fonts.googleapis.com/css?family=Vollkorn);

#map_canvas {
  width: 100%;
  height: 500px;
}

#chart
{
  height: 200px;
  width: 617px;
  // background: white;
}

.hide{
  display: none;
}


#interviewchart
{
  height: 400px;
}

// .submitAnswer{
//   height: 25px;
//   width: 65px;
//   padding: 5px;
//   border: 2px solid blue;
//   background-color: pink;
//   margin: 5px;
// }

body, .panel, td
{
  background: #fff;
  font-family: "times", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  border: 0px;
}

.button, .small, .radius, .info, .tiny
{
  background: black;
  font-family: helvetica;
  border: 0px;
}

 .stripe-button-el span, .stripe-button, .active
{
  font-size: 10px !important;
  background: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  height: 20px !important;
  border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
background-image: transparent;
}

table, ol table
{
  background: transparent !important;
  border: 0px;
  color: #fff;
    padding: 0px;
  margin: 0px;
  text-align: left;
  padding: 5px;

}

#centertext table
{
  background: transparent !important;
  border: 0px;
  color: #fff;
    padding: 0px;
  margin: 0px;
  text-align: left;
  padding: 5px;

}

thead, th
{
  background: #fff !important;
  border-bottom: 2px solid white !important;
  color: white !important;
}

tr
{
  background: transparent !important;
}

h3, h4
{
  background: #fff;
  font-weight: 300;
  color: #fff;
  padding: 8px;
  // border-bottom: 3px solid white;
}

.top-bar
{
background: #000044;
border-bottom: 3px solid white;
padding-bottom: 4px;
font-family: 'Vollkorn', serif;
}

.top-bar-section li a:not(.button), .top-bar-section li a:not(.button):hover
{
background: #000044;
height: 30px;
font-family: 'Vollkorn', serif;
}

a
{
  font-family: 'Vollkorn', serif !important;
}

.panel
{
  padding: 0px;
}

.row
{
  max-width: 100%;
  background: #fff;
  padding: 10px;
}

.columns, .large-12
{
  width: 100%;
}

.stats
{float:left;
padding: 10px;
background: #e3fcf3;
border-radius: 10px;
margin: 10px;}

.test_btn, .button, .tiny, .success, a .test_btn
{
  background: #000044;
  color: white;
//   background: #f8d9f9;
//   color: black;
  font-family: 'Vollkorn', serif !important;
  border-radius: 0px;
  // height: 60px !important;
  padding: 10px;
  margin-right: 5px;
  height: 34px;
}

.submitAnswer
{
  background: #f4a4b8;
  color: white;
  padding: 6px;
  border-radius: 5px;
  height: 40px;
  width: 150px;
  margin-bottom: 10px;
  font-size: 20px;
}


.ladies
{
  font-family: "soleil",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
}

.footladies
{
  text-align: center;
}

#email, #password, #friend_name, #friend_phone, #question_question, #question_category, #user_phone, #interview_name, #user_name, #user_email, #user_address, #user_password, #user_password_confirmation, #interview_cost, #interview_threshold, #tags, #searchinterview, #serchmap, #user_gender
{
  width: 463px;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid;
    -moz-box-shadow:    0px 0px 0px 0px #ccc;
  -webkit-box-shadow: 0px 0px 0px 0px #ccc;
  box-shadow:         0px 0px 0px 0px #ccc;
  font-weight:700;
  font-size: 30px;
}

.q
{
  border-bottom: 2px solid green;
  width: 500px;
  font-weight:700;
  font-size: 20px;
  background: #e1f4f1;
  margin-top: 5px;
  padding: 8px;
}

.resp
{
  font-style: italic;
  color: #bbb;
}

.check
{
  float: left;
  margin: 2px;
  margin-top: 3px;
  padding-top: 5px;
}

h2
{
  color: white;
}

h1
{
font-family: 'Vollkorn', serif;
}

#header_cruise
{
  color: #000044;
  font-family: 'Vollkorn', serif;
}

input
{
  border: 0px;
}

#number
{
  font-size: 20px;
}

#styled_select{
   width: 240px;
   height: 37px;
   overflow: hidden;
   background: url('http://i.imgur.com/upBGh5w.gif') no-repeat right #000044;
   border: 0px solid #ccc;
   border-radius: 0px;
   float: left;
   margin-right: 5px;

   }

#motivations_name
{
   background: transparent;
   font-family: 'Vollkorn', serif;
   letter-spacing: 2px;
   color: white;
   background: url('http://i.imgur.com/JE5Qehs.gif') no-repeat right #000044;
   // background: #000044;
   width: 368px;
   padding: 10px;
   font-size: 12px;
   // line-height: 1;
   border-radius: 0px;
   height: 34px;
   -webkit-appearance: none;
}

#submit_button
{
// float: left;
}

.landingmessage
{
     font-family: 'Vollkorn', serif;
     font-size: 80px;
     color: #000044;
     line-height: 1.4;
     max-width: 800px;
}

.landingmessagelogin
{
     font-family: 'Vollkorn', serif;
     font-size: 80px;
     color: #b7e4f3;
     line-height: 1.4;
     max-width: 800px;
     font-style: italic;
}


#map-tooltip { width: 200px; height: 100px; color: white; padding: 20px; }
// Now let's add some CSS3 styles
// Rounded corners
#map-tooltip, .button { -moz-border-radius:5px; -webkit-border-radius:5px; }
// Drop shadow
#map-tooltip { box-shadow:rgba(0,0,0,0.9) 0 0 10px; -webkit-box-shadow:rgba(0,0,0,0.9) 0 0 10px; -moz-box-shadow:rgba(0,0,0,0.9) 0 0 10px; }
// Transparent background
#map-tooltip { background: rgba(10, 10, 10, 0.6); }


.image_person{
  float: left !important;
  width: 100px !important;
}

#sorry
{
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  color: #000044;
}

#sorry_sm
{
  font-family: 'Vollkorn', serif;
  font-size: 16px;
  color: #000044;
  float: left;
}

h3#gender
{
  font-family: 'Vollkorn', serif;
  font-size: 40px;
  color: #000044;
  background: transparent;
  clear: both;
  // padding-bottom: 2px;
}

h3#rating
{
  font-family: 'Vollkorn', serif;
  font-size: 40px;
  color: #000044;
  background: transparent;
  clear: both;
  padding-bottom: 20px;
}

h3.title, h2.title
{
  font-family: 'Vollkorn', serif;
  font-size: 30px;
  color: #000044;
  background: transparent;
  clear: both;
}

.newmarker
{
  font-family: 'Vollkorn', serif;
  font-size: 16px;
  color: #000044;

}

div p, tspan
{
  font-family: 'Vollkorn', serif;
  font-size: 16px;
  color: #000044;
}

#venue_show
{
  width: 600px;
}

#donut-example{
  min-height: 400px;
}
